.toggle-item {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


.hide {
    display: none;
}